<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 设置viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FileGo : File Management</title>
    <!-- 引入框架 -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/godown.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/godown.css">
</head>
<body>

<!-- 模态框 -->
<div class="container">
    <!-- 过度效果: fade -->
    <div class="modal fade" id="modal">
        <!-- 大小: modal-sm modal-lg -->
        <div class="modal-dialog modal-sm">
            <!-- 文件上传面板 -->
            <div class="modal-content">
                <div class="modal-body">
                    <form id="uform" enctype="multipart/form-data" action="/upload" method="post">
                        <div class="form-group">
                            <label for="fn"></label>
                            <input class="form-control" type="file" size="5" name="file" id="fn">
                        </div>
                    </form>
                </div>
                <!-- 文件上传面板中的底部按钮区 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="ubtn" type="button" class="btn btn-success">上传</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 导航条 -->
<!-- 样式: avbar-invers 和 navbar-default -->
<!-- 位置:  navbar-fixed-top 和 navbar-fixed-bottom -->
<div style="text-align: center">
    <nav class="navbar navbar-brand">
        <div class="container">
            <!-- 选中状态 active -->
            <div id="navbar" class="collapse navbar-collapse">
                <form class="navbar-form navbar-center" action="#" method="post">
                    <div class="form-group">
                        <input id="fscan" type="text" name="f" class="form-control btn-lg" placeholder="请输入文件名中的关键字. . .">
                    </div>
                    <button style="margin-left: 12px" type="submit" class="btn btn-info">检索</button>
                    {{if .Stat}}
                        <button id="btn" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal">上传
                        </button>
                        <!-- 该功能暂未实现哈 -->
                        <button id="" type="button" class="btn btn-primary">新建
                        </button>
                    {{end}}
                </form>
            </div>
        </div>
    </nav>
</div>

<!-- 文件列表 -->
<div class="container" style="padding-top: 35px">
	<!-- 面板表格 -->
	<div id="panel" >
	    <div class="panel panel-info">
	        <!-- 表格 -->
	        <table class="table table-striped">
	            <thead>
	            <tr class="active info">
	                <th>编号</th>
	                <th>文件名称</th>
	                <th>文件大小</th>
	                <th>上传日期</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	            <tbody>
	            {{range .Files}}
	            <tr>
	                <td>{{.Id}}</td>
	                <td id="fname" style="text-align: center">{{.Name}}</td>
	                <td id="fsize" style="text-align: center">{{.Size}}</td>
	                <td id="ftime" style="text-align: center">{{.Date}}</td>
	                <td><a class="label label-primary" href="../download?f={{.Name}}">下载</a>
                        {{if .Stat}}
                            <a class="label label-danger" href="../rmfile?f={{.Name}}">删除</a>
                        {{else}}
                            <a class="label label-default">删除</a>
                        {{end}}
                        <!-- 该功能暂未实现哈 -->
                        <a class="label label-warning">加密</a>
                        <!-- 该功能暂未实现哈 -->
                        <a class="label label-info">链接</a>
                    </td>
	            </tr>
	            {{end}}
	            </tbody>
	        </table>
	    </div>
	</div>
</div>

</body>
</html>
